.home {
  padding: 4%;
  text-align: center;
}

.botonAgregar {
  margin-top: 4rem;
  display: flex;
  justify-content: flex-end;
}

.divJuegos {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
}
